[submodule "noc"]
	path = noc
	url = https://github.com/PacoReinaCampo/MPSoC-NoC.git
[submodule "dbg"]
	path = dbg
	url = https://github.com/PacoReinaCampo/MPSoC-DBG.git
[submodule "soc"]
	path = soc
	url = https://github.com/PacoReinaCampo/SoC-RISCV.git
